<h1>Bcrypt</h1>
<form action="/" method="POST">
    <div>
        <label for="encrypt">encrypt</label>
        <input type="text" id="encrypt" name="encrypt">
    </div>
    <div>
        <label for="compare">compare</label>
        <input type="compare" id="compare" name="compare">
    </div>
    <button type="submit">Send</button>
</form>